
$font1:    Helvetica, sans-serif;
$red1: #da2231;
$red2: #ec202a;
$sand: #f7f8f3;
$black1: #292b2a;
$black2: #3a3c3c;
$wh : #ffffff;
$blue1: #1071ac;
$blue2: #0777bc;
$blue3: #146280;

body {
background-color: $sand;
color:$red1;
}
